@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<VirgoITELEC1C.Models.Instructor>
<h1>Instructor List</h1>

<table>
    <tr>
        <th>Name: </th>
        <th>Date: </th>
        <th>Email: </th>
        <th>Rank: </th>
    </tr>
    <tr> 
        @foreach(var Instructor in Model)
        {
            <tr>
            <td>@Instructor.InstructorName</td>
            <td>@Instructor.DateHired</td>
            <td>@Instructor.InstructorEmail</td>
            <td>@Instructor.Rank</td>
            </tr>
        }
    </tr>
</table>