@page
@model WebApplication1.Views.Home.AboutModel
@{
    <h1>About Me</h1>


     <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                        <img src="~/images/profilepic.jpg" alt="Admin" class="rounded-circle" width="250" height="250">
                    <div class="mt-3">
                      <h2> Ivan </h2>
                      <h4> 3ITA</h4>
                      
               
                    </div>
                  </div>
                </div>
              </div>
       

            </div>
            <div class="col-md-8">
              <div class="card mb-3">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Full Name</h6>
                    </div>
                    <div class="col-sm-9 text-dark">
                      Virgo, Louis Ivan Ko
                    </div>
                  </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Student Number</h6>
                        </div>
                        <div class="col-sm-9 text-dark">
                           2021154551
                        </div>
                    </div>

                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Email</h6>
                    </div>
                    <div class="col-sm-9 text-dark">
                      louisivan.virgo.cics@ust.edu.ph
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Age</h6>
                    </div>
                        <div class="col-sm-9 text-dark">
                      20
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Mobile</h6>
                    </div>
                        <div class="col-sm-9 text-dark">
                            09171880922
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Address</h6>
                    </div>
                        <div class="col-sm-9 text-dark">
                     Fairview, QC
                    </div>
                  </div>
                  <hr>
                 
                </div>
              </div>
                </div>
              </div>



            

}
